@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.element {
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.element1 {
    background: papayawhip;
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.element2 {
    background: pink;
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.element3 {
    background: lightcyan;
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.container {
    background: turquoise;
    border: 1px solid white;
    width: 180px;
    height: 180px;
}

.container1 {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    border: 1px solid white;
    width: 180px;
    height: 180px;
}

.container2 {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border: 1px solid white;
    width: 180px;
    height: 180px;
}

.container3 {
    display: table-cell;
    text-align: left;
    vertical-align: bottom;
    border: 1px solid white;
    width: 180px;
    height: 180px;
}

.container4 {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    border: 1px solid white;
    width: 180px;
    height: 180px;
}

.container5 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: 1px solid white;
    width: 180px;
    height: 180px;
}

.container6 {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    border: 1px solid white;
    width: 180px;
    height: 180px;
}

.container7 {
    display: table-cell;
    text-align: right;
    vertical-align: top;
    border: 1px solid white;
    width: 180px;
    height: 180px;
}

.container8 {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    border: 1px solid white;
    width: 180px;
    height: 180px;
}

.container9 {
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
    border: 1px solid white;
    width: 180px;
    height: 180px;
}