.container {
    /* display: grid; */
    /* filas/columnas */
    /* grid-template: repeat(5, 20px) / repeat(5, 20px); */
    /* filas/columnas */
    /* gap: 5px 5px;
    background-color: red; */
}


/* .container2 {
    display: grid;
    width: 100%;
    height: 400px;
    border: 2px solid yellow;
    justify-content: space-around;
}

.estado1 {
    width: 150px;
    height: 150px;
    background-color: yellow;
}

.estado2 {
    width: 150px;
    height: 150px;
    background-color: green;
} */


/* .grid-container {
    border: 4px dotted turquoise;
    width: 200px;
    display: grid;
    height: 200px;
    justify-content: center;
    align-content: center;
}

.container {
    background-color: papayawhip;
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    height: 100px;
    width: 100px;
}

.item {
    background-color: papayawhip;
    border: 4px solid hotpink;
} */

.calendario-mian {
    width: 100%;
    height: 500px;
    background-color: white;
    display: grid;
}

.calendario-dias {
    display: grid;
    width: 70%;
    height: 180px;
    background-color: papayawhip;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    grid-template: repeat(2, 1fr) / repeat(3, minmax(100px, 450px));
    gap: 9px 9px;
}

.dias {
    background-color: papayawhip;
    height: 50px;
    border: 4px solid hotpink;
    border-radius: 8px;
}

@media screen and (min-width: 600px) {
    .calendario-dias {
        grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    }
}